<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article Details</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
  <header>
    <h1>Article Details</h1>
  </header>

  <section id="article-detail">

  </section>

  <section class="comments">
    <h2>Comments</h2>
    <ul id="comments-list">

    </ul>
  </section>

  <section class="new-comment">
    <h3>Add a Comment</h3>
    <form id="commentForm">
      <input type="text" id="author" placeholder="Your name" required /><br><br>
      <textarea id="commentContent" placeholder="Write your comment here" required></textarea><br><br>
      <button type="submit">Add Comment</button>
    </form>
  </section>

  <a href="/templates/index.htmlindex.html">Back to Articles</a>

  <script src="../js/script.js"></script>
</div>
</body>
</html>
