<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Articles</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
  <header>
    <h1>Blog Articles</h1>
  </header>

  <section class="new-article">
    <h2>Add New Article</h2>
    <form id="articleForm">
      <input type="text" id="title" placeholder="Title" required><br><br>
      <textarea id="content" placeholder="Content" required></textarea><br><br>
      <button type="submit">Add Article</button>
    </form>
  </section>

  <section class="article-list">
    <h2>Articles</h2>
    <div id="articles">

    </div>
  </section>

  <script src="../js/script.js"></script>
</div>
</body>
</html>
